<div class="template">
  <table class="table table-striped contact-table">
    <thead class="contact-head">
      <tr>
        <th>ID</th>
        <th>Employee Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Job Title</th>
        <th>
          <button class="btn btn-primary" (click)="addEmployee()">
            Add Employee
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.EmployeeName }}</td>
        <td>{{ employee.Email }}</td>
        <td>{{ employee.PhoneNumber }}</td>
        <td>{{ employee.JobTitle }}</td>
        <td class="contact-operation">
          <button
            class="btn btn-primary operation-button"
            (click)="updateEmployee(employee)"
          >
            Edit
          </button>
          <button
            class="btn btn-danger operation-button"
            (click)="deleteEmployee(employee)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
