<div class="modal-header">
  <h4 class="modal-title">Edit Contract</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form
    (submit)="onSubmit()"
    #employeeForm="ngForm"
    [ngFormOptions]="{ updateOn: 'blur' }"
  >
    <div class="form-group">
      <label for="id">Employee ID</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="selectedEmployee.id"
        name="id"
        #id="ngModel"
      />
      <div [hidden]="id.valid || id.pristine" class="alert alert-danger">
        id is required
      </div>
    </div>
    <div class="form-group">
      <label for="firstname">Firstname</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="selectedEmployee.firstname"
        name="firstname"
        #firstname="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="selectedEmployee.lastname"
        name="lastname"
        #lastname="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="department">Department</label>
      <input
        type="text"
        class="form-control"
        id="department"
        required
        [(ngModel)]="selectedEmployee.department"
        name="department"
        #department="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        required
        [(ngModel)]="selectedEmployee.email"
        name="email"
        #email="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="selectedEmployee.phone"
        name="phone"
        #phone="ngModel"
      />
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">
    Save
  </button>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="modal.close('Close click')"
  >
    Close
  </button>
</div>
